body {
	margin: 50px 200px 50px 200px;
}
h1, h3, h4, .authors, .example, .mouse{
	text-align: center;
}
.underline {
	text-decoration: underline;
}
.rightimg {
	float: left;
	margin: 7px 7px 7px 7px;
}
.CIS {
	text-align: right;
}
