body {
	margin: 50px 300px 50px 300px;
}
h1, h3, #header, .example, .mouse{
	text-align: center;
}
.authors {
	font-size: 19px;
}
.underline {
	text-decoration: underline;
}
.rightimg {
	float: left;
	margin: 7px 7px 7px 0px;
}
.CIS {
	text-align: right;
}